<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title>search</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar debounce="500" color="Light" (ionChange)="search($event)" placeholder="Enter keyword">      
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button color="primary" [routerLink]="['/recherche']"> Recherche par catégorie </ion-button>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-list *ngIf="filterPosts.length > 0">
        <ion-item *ngFor="let p of filterPosts">
          <ion-thumbnail>
            <ion-img [src]="p.picture" alt="{{p.title}}"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h4> {{p.title}} </h4>
          <ion-text>
            <p> {{p.price}} </p>
          </ion-text>  
          </ion-label>
        </ion-item>
      </ion-list>
<!------------------------->
<ion-list *ngIf="showSkeleton">
  <ion-item *ngFor="let d of [].constructor(5)">
    <ion-thumbnail>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
        <h4> <ion-skeleton-text animated style= "width: 68%;"></ion-skeleton-text> </h4>
      <ion-text>
        <p> <ion-skeleton-text animated style="width:48%;"></ion-skeleton-text> </p>
    </ion-text>  
    </ion-label>
  </ion-item>
</ion-list>
<!-------------------------->
<ion-list *ngIf="filterPosts.length < 0 && touched" lines="none">
  <ion-item>
     <ion-label>
       <h3> No Post Found</h3>
     </ion-label>
   </ion-item>
</ion-list>


    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
