<ion-content>
  <h1>  Créaction de compte professionnel</h1>
  
  <hr>
  <div class="form">
      <h3>Entreprise</h3>
  
  <ion-item>
      <ion-label color="dark">SIERT</ion-label>
      <ion-input color="dark" type="text" ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label color="dark">Nom de la sociéte </ion-label>
      <ion-input color="dark" type="text" ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>catégorie associée a votre activité </ion-label>
      <ion-select  class="cat">
          <ion-select-option value="v">Voiture</ion-select-option>
        <ion-select-option value="c">Camion</ion-select-option>
        <ion-select-option value="m">Motos</ion-select-option>
        <ion-select-option value="n">Nautismes</ion-select-option>
        <ion-select-option value="EV">Equipement Voiture</ion-select-option>
        <ion-select-option value="EC">Equipement Camion</ion-select-option>
        <ion-select-option value="EM">Equipement Motos</ion-select-option>
        <ion-select-option value="EN">Equipement Nautismes</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label color="dark">Adresse</ion-label>
      <ion-input color="dark" type="text" required ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Télephone</ion-label>
      <ion-input color="dark" type="text" required ></ion-input>
    </ion-item>
    <h3>Compte</h3>
  
    <ion-item>
      <ion-label color="dark">Nom</ion-label>
      <ion-input color="dark" type="text" required ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label color="dark">Prénom</ion-label>
      <ion-input color="dark" type="text" required ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label color="dark">Email</ion-label>
      <ion-input color="dark" type="email" required ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label color="dark">Mot de passe</ion-label>
      <ion-input color="dark" type="password" required ></ion-input>
    </ion-item>
  <br>
  <ion-button fill="outline" shape="round" expand="block">Crée mon compte professionnel</ion-button>
  </div>
  
  </ion-content>
  