<ion-content>
  <script src="assets/js/form.js"></script>

  <div class="container mt-4">
    <form (ngSubmit)="submit()" [formGroup]="form">
  <h1>  Creation de compte</h1>
  <hr>
     
      <!--------------- Name ------------->
      <div class="form-group">
        <div *ngIf="step == 1">
          <h3>Compte</h3>

        <label for="nom">Nom</label>
        <input type="text" onkeypress="return alpha(event)"  formControlName="nom" onkeypress="return /[a-z]/i.test(event.key)" class="form-control" name="nom"
        placeholder="enter nom" [ngClass]="{'is-invalid':submitted && f.nom.errors}" />

        <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
          <div *ngIf="f.nom.errors.required">
            Nom obligatoire
          </div>
        </div>
           <!--------------- Email ------------->

    <div class="mb-3">
        <label  class="form-label">Email address</label>
        <input type="email" formControlName="email" name="email" class="form-control"  aria-describedby="emailHelp"
        [ngClass]="{'is-invalid':submitted && f.email.errors}">
        
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">
            email obligatoire
          </div>
          <div *ngIf="f.email.errors.email">
           email est invalide !!!!
          </div>
      </div>
    </div>
     <!--------------- Password ------------->
     <div class="mb-3">
        <label  class="form-label">Mot de Passe</label>
        <input type="password" formControlName="password" name="password" class="form-control"
        [ngClass]="{'is-invalid':submitted && f.password.errors}">

      <div *ngIf="submitted && f.password.errors " class="invalid-feedback">
          <div *ngIf="f.password.errors.required ">
            mot de passe est obligatoire
          </div>

          <div *ngIf="f.password.errors.minlength">
            mot de passe invalide ! doit etre plus de 6 caracters
          </div>
      </div>
    </div>
           <!--------------- Confirme Password ------------->

    <div class="mb-3">
      <label  class="form-label">Confirmer mot de passe</label>
      <input type="password" formControlName="confirmPassword" class="form-control" name="confirm_password"
      [ngClass]="{'is-invalid':submitted && f.confirmPassword.errors}">
  
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">
          confirmer mot de passe est obligatoire
        </div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">
          mot de passe est invalide
        </div>
      </div>
   </div>
   <label  color="dark">Télephone</label>
   <input onkeypress="return alpha(event)" formControlName="telephone" onkeypress="return numbersonly(event)" class="form-control" color="dark" type="text" required />
</div>
<div  *ngIf="step == 2">

      <h3> professionnel (Entreprise)</h3>
    <div class="form-group">
      <label for="SIERT">SIRET</label>
      <input type="text" formControlName="SIERT" onkeypress="return numbersonly(event)" class="form-control" name="SIERT"
      placeholder="enter SIERT" [ngClass]="{'is-invalid':submitted && f.SIERT.errors}" />

      <div *ngIf="submitted && f.SIERT.errors" class="invalid-feedback">
        <div *ngIf="f.SIERT.errors.required">
          SIERT obligatoire
        </div>
    </div>
  
      <label for="NomSociete">Nom de la Societe</label>
      <input type="text" onkeypress="return alpha(event)" formControlName="NomSociete" onkeypress="return /[a-z]/i.test(event.key)"  class="form-control" name="NomSociete"
      placeholder="enter NomSociete" [ngClass]="{'is-invalid':submitted && f.NomSociete.errors}" />

      <div *ngIf="submitted && f.NomSociete.errors" class="invalid-feedback">
        <div *ngIf="f.NomSociete.errors.required">
          NomSociete obligatoire
        </div>
    </div>
   
      <label for="catActivite">Catégorie associée a votre activité</label>
      <input type="text" onkeypress="return alpha(event)" formControlName="catActivite" onkeypress="return /[a-z]/i.test(event.key)" class="form-control" name="catActivite"
      placeholder="enter catActivite" [ngClass]="{'is-invalid':submitted && f.catActivite.errors}" />

      <div *ngIf="submitted && f.catActivite.errors" class="invalid-feedback">
        <div *ngIf="f.catActivite.errors.required">
          le categorie qui associe a votre Activite obligatoire
        </div>
    </div> 
    
      <label color="dark">Adresse</label>
      <input formControlName="Adresse" class="form-control" color="dark" type="text" required />

    
      <label color="dark">code Postal</label>
      <input onkeypress="return alpha(event)" formControlName="codePostal" onkeypress="return numbersonly(event)" class="form-control" type="text" required/> 
  </div>
</div>
</div>

<ion-button type="button"  *ngIf="step != 1" block (click)="previous()">Previous</ion-button>
<ion-button type="button" value="next" name="next" block *ngIf="step != 2" (click)="next()">page suivant si vous etes professionnel </ion-button>
<ion-button color="primary" type="submit" fill="outline" shape="round" expand="block">Crée mon compte professionnel</ion-button>

</form>
</div>
</ion-content>


