<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>Inscription</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="container mt-4">
    <form (ngSubmit)="submit()" [formGroup]="form">
        
      <!--------------- Name ------------->
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" name="name"
        placeholder="enter name" [ngClass]="{'is-invalid':submitted && f.name.errors}" />

        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">
            Name is required
          </div>
      </div>
           <!--------------- Email ------------->

    <div class="mb-3">
        <label  class="form-label">Email address</label>
        <input type="email" formControlName="email" name="email" class="form-control"  aria-describedby="emailHelp"
        [ngClass]="{'is-invalid':submitted && f.email.errors}">
        
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">
            email is required
          </div>
          <div *ngIf="f.email.errors.email">
            email must be  validated eamil !!!!
          </div>
      </div>
    </div>
     <!--------------- Password ------------->
     <div class="mb-3">
        <label  class="form-label">Password</label>
        <input type="password" formControlName="password" name="password" class="form-control"
        [ngClass]="{'is-invalid':submitted && f.password.errors}">

      <div *ngIf="submitted && f.password.errors " class="invalid-feedback">
          <div *ngIf="f.password.errors.required ">
            password is requeired
          </div>

          <div *ngIf="f.password.errors.minlength">
            password must be at least 6 caracters
          </div>
      </div>
    </div>
           <!--------------- Confirme Password ------------->

    <div class="mb-3">
      <label  class="form-label">Confirme Password</label>
      <input type="password" formControlName="confirmPassword" class="form-control" name="confirm_password"
      [ngClass]="{'is-invalid':submitted && f.confirmPassword.errors}">
  
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">
          confirmPassword is requeired
        </div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">
          password must mutch
        </div>
      </div>
   </div>
      <button type="submit" color="btn btn-primary">Register</button>
  </div>
