<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>  </ion-back-button>
    </ion-buttons>
    <ion-title>product-update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="updateForm()">

    <ion-item>
      <ion-label> Name </ion-label>
      <ion-input type="text" name="title" [(ngModel)]="annonce.title"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label> description </ion-label>
      <ion-input type="text" name="description" [(ngModel)]="annonce.description"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label> Price </ion-label>
      <ion-input type="number" name="price" [(ngModel)]="annonce.price" ></ion-input>
    </ion-item>
    
    <ion-item> 
     <ion-button type="submit" backButton> Modifier </ion-button>
    </ion-item>
    </form>

</ion-content>
