ion-list{
    padding-top: 40%;
    margin-bottom: 3.2rem;
  }
.about-compte{
  margin-top: 90px;
  margin-left: 20px;
  h4,ion-label{
    font-weight: 600;
    font-size: 1.4rem;
  }
  ion-label{
    color: blue;
  }

}
