<ion-content>
  <ion-list>
      <ion-list-header>
        <ion-label> <h1> Créer un compte pour ... </h1></ion-label>
      </ion-list-header>
      <div class="form-check">
        <input [routerLink]="['/sign-up']" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
        <label class="form-check-label" for="exampleRadios1">
          Particulier
        </label>
      </div>
      <div class="form-check">
        <input [routerLink]="['/sign-up-pro']" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Mon entreprise
        </label>
      </div>
  </ion-list>
<div class="about-compte">
  <h4>Vous avez déja un compte ?</h4>
  <ion-label [routerLink]="['/login']">Me connecter</ion-label>
</div>
</ion-content>