<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>  </ion-back-button>
    </ion-buttons>
    <ion-title>Déposer une annonce de véhicule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="insertData()" (ngSubmit)="onSubmitform(f)">

<div *ngIf="step == 1">
  <!-----------------------Titre ------------->
  <ion-item>
    <ion-label position="floating">Titre </ion-label>
    <ion-input type="text" id="title" name="title" [(ngModel)]="annonce.title"></ion-input>

  </ion-item>
  <!---------------------------description------------>
  <ion-item>
    <ion-label> description </ion-label>
    <ion-input type="text" name="description"  [(ngModel)]="annonce.description"></ion-input>
  </ion-item>
  <!----------------------------------Price-------------------->
  <ion-item>
    <ion-label> Price </ion-label>
    <ion-input type="number" name="price" [(ngModel)]="annonce.price"></ion-input>
  </ion-item>
  <!---------------------Catégorie---------------->
 
  <ion-item class="categorie" >
      <ion-label>Choisissez votre catégorie</ion-label>
      <ion-select value="category" name="categorie" class="cat" [(ngModel)]="annonce.category">
        <ion-select-option  *ngFor="let categorie of listCategory" >{{categorie.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <!---------------------Type d'Annonce---------------->
<div  *ngIf="step == 2">
  <label>choisir type d'annonce </label>
      <div class="form-check">
        <input [(ngModel)]="annonce.TypePost" class="form-check-input" type="radio" name="offre" id="offre" value="offre" checked>
        <label class="form-check-label" for="exampleRadios1">
          offre
        </label>
      </div>
      <div class="form-check">
        <input [(ngModel)]="annonce.TypePost" class="form-check-input" type="radio" name="demande" id="demande" value="demande">
        <label class="form-check-label" for="exampleRadios2">
          demande
        </label>
      </div>
  <!---------------------Marque---------------->
  <ion-item  class="marque">
    <ion-label> <h4>Choisissez votre marque </h4></ion-label>
      <ion-select value="Marque" name="Marque" class="cat" [(ngModel)]="annonce.Marque">
        <ion-select-option  *ngFor="let marque of listMarque" >{{marque.name}}</ion-select-option>
      </ion-select>
  </ion-item>


<!---------------------Modéle---------------->

<ion-item class="modele">
  <ion-label> <h4>Choisissez votre modele </h4></ion-label>
    <ion-select value="Marque" name="Modele"  [(ngModel)]="annonce.Modele">
      <ion-select-option  *ngFor="let Modele of listModele" >{{Modele.name}}</ion-select-option>
    </ion-select>
</ion-item>

    <!---------------------année modéle---------------->
    <ion-item class="annéeModéle">
      <ion-label> <h4>Choisissez votre année de modéle </h4></ion-label>
      <ion-input type="number" name="AnneeModele" [(ngModel)]="annonce.AnneeModele"></ion-input>
    </ion-item>
  <!---------------------Type carburant---------------->

      <ion-item class="modele">
        <ion-label> <h4>Choisissez votre carburant </h4></ion-label>
          <ion-select value="carburant" name="carburant"  [(ngModel)]="annonce.carburant">
            <ion-select-option  *ngFor="let carburant of listCarburant" >{{carburant.name}}</ion-select-option>
          </ion-select>
      </ion-item>


</div>
 <!---------------------Boite de vitesse---------------->
 <div  *ngIf="step == 3">

      <label>choisir Boite de vitesse </label>
      <div class="form-check">
        <input [(ngModel)]="annonce.BoiteDeVitesse" class="form-check-input" type="radio" name="Automatique" id="Automatique" value="Automatique" checked>
        <label class="form-check-label" for="exampleRadios1">
          Automatique
        </label>
      </div>
      <div class="form-check">
        <input [(ngModel)]="annonce.BoiteDeVitesse" class="form-check-input" type="radio" name="Manuelle" id="Manuelle" value="Manuelle">
        <label class="form-check-label" for="exampleRadios2">
          Manuelle
        </label>
      </div>
      <!---------------------Nombre de porte---------------->
      <ion-item class="">
        <ion-label>Nombre de porte </ion-label>
        <ion-input type="text" id="NombreDePortes" name="NombreDePortes" [(ngModel)]="annonce.NombreDePortes"></ion-input>

      </ion-item>

        <!---------------------Nombre de place---------------->
        <ion-item class="">
          <ion-label>Nombre de Place </ion-label>
          <ion-input type="text" id="NombreDePlaces" name="NombreDePlaces" [(ngModel)]="annonce.NombreDePlaces"></ion-input>
        </ion-item>

</div> 
<!---------------------Puissance---------------->
<div *ngIf="step == 4">
    <ion-item>
      <ion-label>Puissance Fiscale</ion-label>
      <ion-input [(ngModel)]="annonce.PuissanceFiscale" name="PuissanceFiscale" type="text" ></ion-input>
    </ion-item>
   
    <!---------------------Kilométrage---------------->
    <ion-item>
      <ion-label >Kilométrage</ion-label>
      <ion-input type="text" id="Kilometrage" name="Kilometrage" [(ngModel)]="annonce.Kilometrage"></ion-input>

    </ion-item>
    <div>
      <input type="file"  name="file" (change)="onFileChanged($event)"/>
      <button>Upload Image</button>
    </div>

    <br>
  
</div>
<!---------------------Button---------------->
<ion-button type="submit" value="add"  name="add" block *ngIf="step == 4" (click)="showMessage()" >Ajouter</ion-button> <!--[disabled]="formPost.invalid"-->
<ion-button type="button"  *ngIf="step != 1" block (click)="previous()">Previous</ion-button>
<ion-button type="button" value="next" name="next" block *ngIf="step != 4" (click)="next()">Next</ion-button>
</form>

</ion-content>
