<ion-header>
  <ion-toolbar>
    <ion-title>Sayara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Ajouter Annonce :</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>titre</label>
      <input formControlName="title" name="title" type="text" class="form-control" id="title" placeholder="Enter titre de votre annonce">
    </div>

    <div class="form-group">
      <label>Prix</label>
      <input formControlName="price" type="text" class="form-control" name="pri" id="price" placeholder="Price">
    </div>
<div formGroupName="category_id">
    <select class="custom-select" formControlName="name">
      <option selected >categories</option>
      <option *ngFor="let categorie of categories"  [value]="categorie.name"> {{categorie.name}}</option>
    </select>
</div>

    <div class="form-group">
      <label>Description</label>
      <input formControlName="description" name="description" type="text" class="form-control" id="description" placeholder="description">
    </div>

    <div class="custom-file">
      <input type="file" name="picture" class="form-control" id="picture" required (change)="uploadImage($event)" [ngClass]="{'is-invalid':submitted && f.picture.errors}">  <!-- -->
      <div class="image-preview" *ngIf="imagePreview">
     <img [src]="imagePreview" alt="">
      </div>
      <div *ngIf="submitted && f.picture.errors" class="invalid-feedback">
        <div *ngIf="f.picture.errors.required">Image is required</div>
      </div>
      
    </div>

    <button  type="submit" class="btn btn-primary" expand="block">Ajouter Annonce </button>
  </form>
</ion-content>
