<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Déposer Equipment d'annonce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="insertData()">

  <!-----------------------Titre ------------->
  <ion-item>
    <ion-label position="floating">Titre </ion-label>
    <ion-input type="text" id="title" name="title" [(ngModel)]="annonce.title"></ion-input>

  </ion-item>
  <!---------------------------description------------>
  <ion-item>
    <ion-label> description </ion-label>
    <ion-input type="text" name="description"  [(ngModel)]="annonce.description"></ion-input>
  </ion-item>
  <!----------------------------------Price-------------------->
  <ion-item>
    <ion-label> Price </ion-label>
    <ion-input type="number" name="price" [(ngModel)]="annonce.price"></ion-input>
  </ion-item>
  <!---------------------Catégorie---------------->
 
  <ion-item class="categorie" >
      <ion-label>Choisissez votre catégorie</ion-label>
      <ion-select value="category" name="categorie" class="cat" [(ngModel)]="annonce.category">
        <ion-select-option  *ngFor="let categorie of listCategory" >{{categorie.name}}</ion-select-option>
      </ion-select>
    </ion-item>


    <br>
  
<!---------------------Button---------------->
<ion-button type="submit" value="add" (click)="showMessage()"  name="add" block  >Ajouter</ion-button>
</form>

</ion-content>
