<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>connexion</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="mb-3">
      <label  class="form-label">Email address</label>
        <input type="email" formControlName="email" name="email" class="form-control"  aria-describedby="emailHelp"
        [ngClass]="{'is-invalid':submitted && f.email.errors}">
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">
          email  obligatoire
        </div>
        <div *ngIf="f.email.errors.email">
          email invalid !!!!
        </div>
    </div>
    </div>
    <div class="mb-3">
      <label  class="form-label">mot de passe</label>
      <input type="password" formControlName="password" name="password" class="form-control"
      [ngClass]="{'is-invalid':submitted && f.password.errors}">
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required ">
            mot de passe obligatoire
          </div>
          <div *ngIf="f.password.errors.minlength">
            mot de passe invalide ! doit etre plus de 6 caracters
          </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">connexion</button>
  </form>
</ion-content>
